# =========================
# Node / Frontend
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Python / Backend & AI
# =========================
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
*.env

# =========================
# VSCode / エディタ関連
# =========================
.vscode/
*.code-workspace

# =========================
# Docker
# =========================
*.log
*.pid
docker-compose.override.yaml

# =========================
# AIモデル / 一時ファイル
# =========================
**/*.pt
**/yolov8n.pt
**/temp.jpg
